############################
# Original Game Files (do not commit for licensing/copyright)
############################
**/logos/*.png

**/assets/

LightTOC
StreamSetConfig
localereftableD4815ED6.txt
*.alb
*.amb
*.aub
*.bin
*.bsp
*.ctb
*.dat
*.graph
*.imb
*.inf
*.lh2
#*.lua dont ignore lua, just dont accidentally commit original game scripts
*.meta.xml
*.mib
*.msb
*.mus
*.preinstanced
*.ps3
*.rcm_b
*.sbk
*.smb
*.snu
*.str
*.toc
*.txd
*.uix
*.vfb
*.vp6
